<center>
<table>
<tr>
<td>
<label for="preg" class="rem">Pregunta:</label>
</td>
<td>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta%>"/> <p/>
</td>
</tr>
<tr>
<td>
<label for="resp" class="rem">Respuesta:</label>
</td>
<td>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta%>"/> <p/>
</td>
</tr>
<tr>
<td align="left">
<label for="tema" class="rem">Tema:</label>
</td>
<td align="left">
<select name="quiz[tema]">
  <option value="otro" <%= (quiz.tema === "otro") ? "selected" : "" %> >Otro</option>
  <option value="humanidades" <%= (quiz.tema === "humanidades") ? "selected" : "" %> >Humanidades</option>
  <option value="ocio" <%= (quiz.tema === "ocio") ? "selected" : "" %> >Ocio</option>
  <option value="ciencia" <%= (quiz.tema === "ciencia") ? "selected" : "" %> >Ciencia</option>
  <option value="tecnologia" <%= (quiz.tema === "tecnologia") ? "selected" : "" %> >Tecnología</option>
</select>
</td>
</tr>
</table>
</center>
<p/>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar"/>