<center>
	<table>
	<% for(var i=0; i<quizes.length; i++) { %>
		<tr>
			<td><a href="quizes/<%=quizes[i].id%>"><%=quizes[i].pregunta%></a></td>
			<td><a href="quizes/<%=quizes[i].id%>/edit"><button>editar</button></a></td>
			<td>
				<form method="post" action="quizes/<%= quizes[i].id%>?_method=delete">
					<button type="submit" onclick="return confim('Borrar: <%= quizes[i].pregunta %>')">
					 borrar
					</button>
				</form>
			</td>
		</tr>
	<% } %>
	</table>
	<form method='get' action='/quizes'>
		Buscar preguntas: <input type="text" name="search"/>
		<input type="submit" value="Buscar"/>
	</form>
	<p/>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</center>